@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.content-table {
  width: 100%;
}

.content-table th {
  padding: 20px 15px;
  position: sticky;
  font-weight: 600;
  top: 0;
  text-align: left;
  font-size: 13px;
  line-height: 14px;
  z-index: 49;
}

.content-table td {
  margin-bottom: 5px;
  padding: 15px;
}

.content-table tbody {
  height: 10px;
}

.content-table tbody tr {
  text-align: left;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.content-table tbody img {
  width: 30px;
  margin-bottom: 10px;
}

.content-table td {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.loader {
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: an1 1s ease infinite;
}

@keyframes an1 {
  0% {
      transform: rotate(0turn);
  }

  100% {
      transform: rotate(1turn);
  }
}

.loader2 {
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: an1 1s ease infinite;
}

@keyframes an1 {
  0% {
      transform: rotate(0turn);
  }

  100% {
      transform: rotate(1turn);
  }
}
